<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"} />
    <!-- Primary Meta Tags -->
    <title>Stark Compass Explorer</title>
    <meta name="title" content="Stark Compass Explorer" />
    <meta
      name="description"
      content="Scout the Starknet chain through the Stark Compass, the only open source Starknet Explorer. Keep track of every transaction, block and any other relevant information of Starknet."
    />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://starkcompass.com/" />
    <meta property="og:title" content="Stark Compass Explorer" />
    <meta
      property="og:description"
      content="Scout the Starknet chain through the Stark Compass, the only open source Starknet Explorer. Keep track of every transaction, block and any other relevant information of Starknet."
    />
    <meta property="og:image" content={~p"/images/preview.webp"} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://starkcompass.com/" />
    <meta property="twitter:title" content="Stark Compass Explorer" />
    <meta
      property="twitter:description"
      content="Scout the Starknet chain through the Stark Compass, the only open source Starknet Explorer. Keep track of every transaction, block and any other relevant information of Starknet."
    />
    <meta property="twitter:image" content={~p"/images/preview.webp"} />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="module" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-se-black text-white relative">
    <header class="z-30 px-5 md:px-10 mx-auto">
      <nav class="w-full max-w-7xl mx-auto flex flex-col lg:flex-row lg:gap-32 items-start lg:items-center justify-between py-5">
        <a
          id="logo"
          href={Utils.network_path(@conn.assigns.network)}
          class="z-50 text-xl mb-6 lg:mb-0 shrink-0"
        >
          <img src={~p"/images/logo.svg"} class="h-11 xl:h-11" />
        </a>
        <div id="nav-right-side" class="flex items-center justify-between w-full gap-8">
          <%= live_render(@conn, StarknetExplorerWeb.SearchLive,
            id: "search-bar",
            flash: @flash,
            session: %{"network" => @network},
            router: StarknetExplorerWeb.Router
          ) %>
          <img id="hamburger" class="z-40 lg:hidden" phx-hook="Nav" src={~p"/images/menu.svg"} />
          <div
            id="menu-options"
            class="w-screen h-screen lg:w-auto lg:h-auto pointer-events-none lg:pointer-events-auto fixed lg:relative top-0 left-0 h-screen lg:h-auto transition-all duration-300 opacity-0 lg:opacity-100 flex flex-col lg:flex-row justify-start lg:justify-end bg-[#111118] p-5 lg:py-0 lg:px-0 z-40"
          >
            <div class="w-full flex items-start justify-between lg:hidden">
              <a
                id="logo-menu"
                href={Utils.network_path(@conn.assigns.network)}
                class="z-50 text-xl mb-6 lg:mb-0"
              >
                <img src={~p"/images/logo.svg"} class="h-11" />
              </a>
              <img id="close-menu" class="w-8 h-auto" phx-hook="Nav" src={~p"/images/x.svg"} />
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center gap-4">
              <a href={Utils.network_path(@conn.assigns.network, "blocks")} class="nav-item">
                <img class="lg:hidden" src={~p"/images/box.svg"} /> <span>Blocks</span>
              </a>
              <a href={Utils.network_path(@conn.assigns.network, "transactions")} class="nav-item">
                <img class="lg:hidden" src={~p"/images/corner-up-right.svg"} />
                <span>Transactions</span>
              </a>
              <a
                href={Utils.network_path(@conn.assigns.network, "classes")}
                class="nav-item !hidden"
              >
                <img class="lg:hidden" src={~p"/images/code.svg"} />
                <span>Classes</span>
              </a>
              <a href={Utils.network_path(@conn.assigns.network, "messages")} class="nav-item">
                <img class="lg:hidden" src={~p"/images/message-square.svg"} />
                <span>Messages</span>
              </a>
              <a
                href={Utils.network_path(@conn.assigns.network, "contracts")}
                class="nav-item !hidden"
              >
                <img class="lg:hidden" src={~p"/images/file.svg"} />
                <span>Contracts</span>
              </a>
              <a href={Utils.network_path(@conn.assigns.network, "events")} class="nav-item">
                <img class="lg:hidden" src={~p"/images/calendar.svg"} />
                <span>Events</span>
              </a>
              <div class="relative w-fit shrink-0 self-end">
                <div
                  id="nav-dropdown"
                  phx-hook="Network"
                  class="dropdown cursor-pointer rounded-md bg-container flex gap-2 items-center px-4 py-2 relative w-fit"
                >
                  <span class="animate-ping bg-green-500 rounded-full w-2 h-2"></span>
                  <span class="absolute top-1/2 left-5 transform -translate-x-1/2 -translate-y-1/2 opacity-50 bg-green-500 rounded-full w-2 h-2">
                  </span>
                  <span class="block truncate capitalize"><%= @network %></span>
                  <img class="transform rotate-90 w-4 h-4" src={~p"/images/dropdown.svg"} />
                </div>
                <div
                  id="options"
                  class="w-full hidden absolute z-10 mt-1 rounded-md bg-container py-1 text-base text-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                >
                  <div class="w-full py-2 hover:bg-brand">
                    <a class="option relative pl-10" href="/">
                      <span class="animate-ping bg-green-500 rounded-full w-2 h-2"></span>
                      <span class="absolute top-1/2 left-5 transform -translate-x-1/2 -translate-y-1/2 opacity-50 bg-green-500 rounded-full w-2 h-2">
                      </span>
                      <span>Mainnet</span>
                    </a>
                  </div>
                  <div class="w-full py-2 hover:bg-brand">
                    <a class="option relative pl-10" href="/testnet">
                      <span class="animate-ping bg-green-500 rounded-full w-2 h-2"></span>
                      <span class="absolute top-1/2 left-5 transform -translate-x-1/2 -translate-y-1/2 opacity-50 bg-green-500 rounded-full w-2 h-2">
                      </span>
                      <span>Testnet</span>
                    </a>
                  </div>
                  <div class="w-full py-2 hover:bg-brand">
                    <a class="option relative pl-10" href="/testnet2">
                      <span class="animate-ping bg-green-500 rounded-full w-2 h-2"></span>
                      <span class="absolute top-1/2 left-5 transform -translate-x-1/2 -translate-y-1/2 opacity-50 bg-green-500 rounded-full w-2 h-2">
                      </span>
                      <span>Testnet2</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="flex justify-center items-center mt-6 py-4 text-gray-500">
      <p>Made by LambdaClass</p>
    </footer>
    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js">
    </script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js">
    </script>
    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2">
    </script>
    <script src="https://unpkg.com/tippy.js@6">
    </script>
    <!-- ApexChart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts">
    </script>
  </body>
</html>
