export DB_TYPE= # set to postgresql if you want to use postgresql, empty otherwise (sqlite).
export DISABLE_MAINNET_SYNC=true # Set to true if you want to disable mainnet sync
export DISABLE_TESTNET_SYNC=true # Set to true if you want to disable testnet sync
export RPC_API_HOST=<YOUR_RPC_API_HOST> # Set to your mainnet rpc api host, is will be used in the explorer as "Mainnet"
export TESTNET_RPC_API_HOST=<YOUR_TESTNET_RPC_API_HOST> # Set to your testnet rpc api host, is will be used in the explorer as "Testnet"
export DB_NAME=<DB_NAME> # set DB creds
export DB_USER=<DB_USER>
export DB_PASS=<DB_PASS>
export DB_HOST=<DB_HOST>

