[Unit]
Description=StarkCompass Explorer

[Service]
WorkingDirectory=/home/dev/stark_compass_explorer
Restart=on-failure
ExecStart=/home/dev/stark_compass_explorer/entrypoint.sh
ExecReload=/bin/kill -HUP
KillSignal=SIGTERM
EnvironmentFile=/home/dev/.env
StandardOutput=append:/home/dev/logs/starknet_explorer.log
StandardError=append:/home/dev/logs/starknet_explorer.log

[Install]
WantedBy=multi-user.target
