@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;600&display=swap");

/*
Styles criteria:

red is used for icons and features like copy buttons

Blue is used for links

orange and pink for details and highlights
(they should be avoided from being used for texts due to their low contrast)

with that being said, Blue, Green, pink and orange can be used for labels if needed

*/

/* This file is for your main application CSS */
* {
  @apply box-border p-0 m-0 scroll-smooth;
}
html {
  @apply overflow-x-hidden font-ibm-plex;
}

/* Titles */
h1 {
  @apply font-ibm-plex text-center lg:text-left text-4xl uppercase font-semibold;
}
h2 {
  @apply font-ibm-plex text-2xl lg:mb-6;
}

a{
  @apply text-hover-link;
}
a,
.copy-btn {
  @apply cursor-pointer;
}

.network-option {
  @apply text-white bg-container hover:bg-se-pink/80 relative select-none py-2 pl-3 pr-9 w-full cursor-pointer flex items-center;
}

/* Tables */
.table-block {
  @apply flex flex-col text-sm md:py-3 px-5 justify-between text-left text-white rounded-lg bg-container;
}
.table-header {
  @apply text-sm flex justify-between items-baseline py-2;
}
.table-title {
  @apply font-semibold text-lg;
}
.custom-list-item {
  @apply pb-3 mt-3 border-b border-se-list-border;
}
.custom-list-item > div {
  @apply my-1 md:my-0 flex flex-col gap-2 items-start justify-self-start;
}
.custom-list-item:last-of-type {
  @apply border-b-0;
}
.custom-list-item .inner-block {
  @apply px-5 py-1 my-3 lg:my-1 bg-se-inner-bg border border-dashed border-se-inner-border w-full;
}
.custom-list-item .inner-block .custom-list-item {
  @apply w-full;
}
.custom-list-item .inner-block .block-label {
  @apply mb-1;
}
.grid-3 {
  @apply md:grid grid-cols-3 items-center gap-1 md:gap-5;
}
.grid-4 {
  @apply grid grid-cols-1 md:grid-cols-4 items-center gap-0 md:gap-5;
}
.grid-5 {
  @apply md:grid grid-cols-5 items-center gap-1 md:gap-5;
}
.grid-6 {
  @apply lg:grid grid-cols-6 items-center gap-1 lg:gap-5;
}
.grid-7 {
  @apply lg:grid grid-cols-7 items-center gap-1 lg:gap-5;
}
.grid-8 {
  @apply lg:grid grid-cols-8 items-center gap-1 lg:gap-5;
}
.grid-9 {
  @apply lg:grid grid-cols-9 items-center gap-1 lg:gap-5;
}
.index-value-grid {
  @apply grid gap-1 lg:gap-5;
  grid-template-columns: 4rem 1fr;
}
.list-h {
  @apply text-gray-500;
}
.grid-3 .list-h,
.grid-4 .list-h,
.grid-5 .list-h {
  @apply font-ibm-plex text-sm pt-2 md:hidden;
}

.grid-6 .list-h,
.grid-7 .list-h,
.grid-8 .list-h,
.grid-9 .list-h {
  @apply font-ibm-plex text-sm pt-2 lg:hidden;
}
.index-value-grid .list-h {
  @apply block font-ibm-plex text-base mt-0 p-0;
}

.grid-3.table-th,
.grid-4.table-th,
.grid-5.table-th {
  @apply hidden md:grid font-ibm-plex text-sm pt-2 text-gray-400;
}

.grid-6.table-th,
.grid-7.table-th,
.grid-8.table-th,
.grid-9.table-th {
  @apply hidden lg:grid font-ibm-plex text-sm pt-2 text-gray-400;
}

/* Search bar */
form {
  @apply relative !w-full !max-w-7xl !mx-auto lg:!-mt-10 mb-8 lg:!mb-10;
}
input {
  @apply !bg-container border !border-gray-700 !text-white !pr-10 !w-full text-ellipsis;
}

/* Detail pages */
.block-label {
  @apply flex !flex-row !gap-1.5 md:col-span-1 text-gray-500 self-start !items-center w-full;
}
.custom-list-item > .block-label + * {
  @apply col-span-full md:col-span-3;
}

/* Text Styles */
.text-hover-link {
  @apply text-se-link hover:text-se-hover-link transition-all duration-300;
}

/* Rounded Labels */
.info-label {
  @apply px-3 py-0.5 ml-0.5 border-l rounded-l-none rounded-md;
}
.orange-label,
.approval,
.mint,
.sync {
  @apply text-se-orange bg-se-orange/5 border-se-orange;
}
.blue-label,
.accepted_on_l2 {
  @apply text-se-blue bg-se-blue/5 border-se-blue;
}
.green-label,
.accepted_on_l1 {
  @apply text-se-green bg-se-green/5 border-se-green;
}
.pink-label,
.swap,
.burn {
  @apply text-se-pink bg-se-pink/5 border-se-pink;
}
.red-label,
.transfer,
.transaction_executed {
  @apply text-se-red bg-se-red/5 border-se-red;
}
.gray-label {
  @apply text-gray-400 bg-gray-400/5 border-gray-400;
}
.cash-label {
  @apply text-se-cash-green bg-se-cash-green/5 border-se-cash-green;
}

/* Dropdown */
main .options {
  @apply bg-black/20 lg:bg-transparent lg:flex lg:flex-row mt-2 lg:mt-0 mb-10 lg:mb-0 lg:border-b border-b-gray-700;
}
main .option {
  @apply border-b-2 border-b-transparent py-3 px-5 transition-all duration-300 -mb-px;
}
.option:hover {
  cursor: pointer;
}

.type {
  @apply bg-[#202037] text-white  text-sm uppercase px-3 py-0.5 rounded-md -translate-x-0.5;
}

.type.l1_to_l2_executed_on_l2,
.sent-on-l2 {
  @apply text-se-green;
}
.type.l2_to_l1_executed_on_l2,
.type-blue,
.consumed-on-l2 {
  @apply text-se-blue;
}
.type.deploy_account {
  @apply text-se-pink;
}
.type.declare,
.l1_handler {
  @apply text-se-red;
}
.type.invoke {
  @apply text-se-orange;
}

.hash {
  @apply font-mono flex items-center break-all;
}

.tooltip {
  @apply cursor-help;
}

.tippy-box[data-theme~="starknet-explorer"] {
  @apply bg-brand text-white;
}

.tippy-box[data-theme~="starknet-explorer"][data-placement^="top"] > .tippy-arrow::before {
  @apply border-t-brand;
}
.tippy-box[data-theme~="starknet-explorer"][data-placement^="bottom"] > .tippy-arrow::before {
  @apply border-b-brand;
}
.tippy-box[data-theme~="starknet-explorer"][data-placement^="left"] > .tippy-arrow::before {
  @apply border-l-brand;
}
.tippy-box[data-theme~="starknet-explorer"][data-placement^="right"] > .tippy-arrow::before {
  @apply border-r-brand;
}
.subtitle{
  @apply text-lg mb-4 border-b-2 border-se-inner-border pb-1;
}