@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

/* This file is for your main application CSS */
h1 {
  @apply font-ibm-plex text-4xl uppercase font-semibold;
}
h2 {
  @apply font-ibm-plex text-2xl mb-4;
}
.blocks-grid {
  @apply grid md:grid-cols-6 gap-1 md:gap-8 py-5 md:py-0;
}
.transactions-grid {
  @apply grid md:grid-cols-7 gap-1 md:gap-8 py-5 md:py-0;
}
.blocks-grid > div,
.transactions-grid > div {
  @apply py-2;
}
.table-block {
  @apply flex flex-col overflow-x-hidden text-sm md:py-3 px-5 justify-between text-left text-white rounded-lg bg-[#232331];
}
.table-header {
  @apply text-sm flex justify-between items-baseline py-2;
}
.table-title {
  @apply font-semibold text-lg;
}
.table-th {
  @apply hidden md:grid font-ibm-plex text-sm pb-2 text-gray-400;
}
.list-h {
  @apply font-ibm-plex text-sm pb-2 text-gray-400 md:hidden;
}
form {
  @apply relative;
}
input {
  @apply !bg-[#232331] !border-none !text-se-lilac !pr-10 xl:!w-80;
}
